<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Club - Jinx</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">    
    <link rel="stylesheet" href="/css/homepage.css"
</head>
<body>
    
    <header class="lpage">
        <div>
            <p class="welcome">WELCOME TO <br> <span> DESIGN CLUB </span><p></p>
            <p class="quote">"Design creates culture. Culture shapes values. Values determine the future." -- Robert L. Peters</p>
            
            <!-- LOGIN FORM HERE -->
            <div class="container">
                <form class="ui inverted form">
                    <div class="field">
                      <label>UserName</label>
                      <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                      <label>Password</label>
                      <input type="text" name="last-name" placeholder="Last Name">
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class=" ">
                        <label>Keep Me Logged In </label>
                      </div>
                    </div>
                    <button id="Login" class="large ui inverted yellow basic button" type="submit">Login</button>
                  </form>

                  <p class="newhere">New Here ?
                      <button class=" small ui red button">Register Now </button>
                  </p>

            </div>
            

            

        </div>
        
        
        
        

    <header>
    
</body>
</html>