<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Club </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/css/register.css">  
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kufam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
     
</head>


<body>
    <div class="outsidebox animate__animated animate__fadeIn">
        <div class="ui raised very padded text container segment animate__animated animate__bounceInDown   ">
            <h1>Register and Explore in Design Club</h1>
            <div class="container">
                <form class="ui inverted form">
                    <div class="field required">
                      <label>Username</label>
                      <input type="text" name="username" placeholder="(ex)mark23">
                    </div>
                    <div class="field required">
                      <label>College Mail ID</label>
                      <input type="text" name="mail-id" placeholder="example@pec.edu">
                    </div>
        
                    
                    <div class="field required">
                        <label >Department</label>
                        <select class="ui dropdown">
                            <option value="CSE">CSE</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="ME">ME</option>
                            <option value="EEE">EEE</option>
                            <option value="CH">CH</option>
                            <option value="CE">CE</option>
                            <option value="EIE">EIE</option>
                        </select>
                    </div>
    
                    <div class="field required">
                        <label >Password</label>
                        <input type="password" name="password" >
                    </div>
                    
                    <div class="field required">
                        <label >Confirm Password</label>
                        <input type="password" name="c-password" >
                    </div>
                        
        
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="">
                        <label>I agree to the Terms and Conditions</label>
                      </div>
                    </div>
                    <a class="ui button yellow basic button" type="submit">Register</a>
                  </form>
            </div>
    
    
        </div>


    </div>

    
</body>


</html>